.register_form {
    width: 300px;
    margin: 0 auto;
}

.form_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.form_label {
    margin-bottom: 5px;
}

.form_input {
    width: 100%;
}

.form_button {
    margin-top: 10px;
}
