<mapper namespace="ac.tukorea.gradebuddy.domain.users.UserDao">
    <select id="getAllUsers" resultType="ac.tukorea.gradebuddy.domain.users.User">
        SELECT * FROM users
    </select>

    <!--로그인 이메일, 비밀번호 확인 메서드-->
    <select id="findUserByEmailAndPassword" parameterType="map" resultType="ac.tukorea.gradebuddy.domain.users.User">
        SELECT * FROM users
        WHERE email = #{email} AND password = #{password}
    </select>
</mapper>