body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 980px;
    height: auto;
    margin: 0 auto; /* body 요소를 가로 중앙에 위치시킵니다 */
}

.header {
    width: 100%;
}

.content {
    width: 100%;
    text-align: center;
}
