/* list.css */
.content .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.content .table th,
.content .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.content .table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.content .table tr:hover {
    background-color: #ddd;
}

.content .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}

/* 별점 스타일링 */
.stars {
    display: inline-block;
    direction: rtl;
    font-size: 1.5em;
}

.stars .star {
    display: inline-block;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.stars .star:before {
    content: '☆';
    color: #ffc700;
}

.stars .star:checked ~ .star:before {
    content: '★';
    color: #ffc700;
}

.stars input[type="radio"] {
    display: none;
}
